%html
  %head
    %title Codebreaker
    %meta{charset: "utf-8"}
    %link{rel: :stylesheet, type: :"text/css", href: "assets/application.css"}    
  %body
    %nav
      %a{href: '/hint'}
        %button.action-btn get hint
      %a{href: '/rules'}
        %button.action-btn rules
      %a{href: '/save'}
        %button.action-btn save
      %a{href: '/show_statistics'}
        %button.action-btn stats              
      %a{href: '/play_again'}
        %button.action-btn play again
    .notification      
      - if @game.tries_left.zero?
        You lose!
      - elsif @request.session[:try][session_data(:guess)] == '++++'
        Congratulation! You Win!
      -else
        Now #{@request.session[:player][session_data(:name)]}, try to break me!
    -unless @game.game_over?
      .container-game      
        .form
          %form{action:"/check_guess", method: "post"}
            %input{name: "guess", placeholder:"Enter Your guess", type: "text"}
            %input{ value: 'Check', type: "submit" }
      .info
        %ul       
          %li.info Tries left #{@game.tries_left}        
          %a.info= @request.session[:hint]
          %li.info Your last guess was #{@request.session[:guess]}
          %li.info Answer: #{@request.session[:try][session_data(:guess)]}
        
        %table.table-fill
          %tr
            %th Guess
            %th Answer
          - @request.session[:try].each_pair do |guess, answer|
            %tr
              %td= guess
              %td= answer


